################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ECF/FileContentIndex
/bin/Debug/net8.0
/obj/ECF.csproj.EntityFrameworkCore.targets
/obj/ECF.csproj.nuget.dgspec.json
/obj/ECF.csproj.nuget.g.props
/obj/ECF.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/ECF.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/ECF/DesignTimeBuild
/.vs/ECF/v17/.futdcache.v2
/.vs/ECF/v17/.suo
/obj/Debug/net8.0/ref/ECF.dll
/obj/Debug/net8.0/refint/ECF.dll
/obj/Debug/net8.0/ECF.AssemblyInfo.cs
/obj/Debug/net8.0/ECF.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ECF.assets.cache
/obj/Debug/net8.0/ECF.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/ECF.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/ECF.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ECF.dll
/obj/Debug/net8.0/ECF.pdb
/obj/Debug/net8.0/ECF.RazorAssemblyInfo.cs
/obj/Debug/net8.0/ECF.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.json
/.vs/ProjectEvaluation/ecf.metadata.v7.bin
/.vs/ProjectEvaluation/ecf.projects.v7.bin
